[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
category-encoders = "*"
python-dotenv = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"

[requires]
python_version = "3.9"
